{% extends "base.html" %}

{% block title %}How it works{% endblock %}

{% block content %}
<div class="carousel-cont">
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner ">
      <div class="carousel-item active mx-auto p-2" style="width: 100%">
        <img src="https://res.cloudinary.com/doo82qk9r/image/upload/v1691318400/2seater_imgwks.jpg" class="d-block w-100" alt="..." >
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-center pt-3">Why Choose The Free Furniture Hub?</h1>
            <p class="text-center">
                <strong>Sustainably Stylish: </strong>
                <br>When you share your furniture on The Free Furniture Hub, you become a sustainability superstar! By giving your pre-loved furniture a new home, you help reduce the strain on our precious planet. Every time a furniture piece finds a new owner through our platform, we collectively take a step towards minimizing waste and cutting down carbon footprints.
            </p>
        </div>
      </div>
      <div class="carousel-item mx-auto p-2" style="width: 100%">
        <img src="https://res.cloudinary.com/doo82qk9r/image/upload/v1691318399/dresser_dtvd0h.jpg" class="d-block w-100" alt="..." >
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-center pt-3">Why Choose The Free Furniture Hub?</h1>
            <p class="text-center">
                <h4><strong>Community Connections: </strong></h4>
                <br>The Free Furniture Hub is more than just a website; it's a thriving community of like-minded individuals who care about sustainability and want to make a difference. Through our platform, you have the opportunity to connect with people who appreciate the value of giving and receiving, fostering a warm and caring network of furniture lovers.
                </p>
        </div>
      </div>
      <div class="carousel-item mx-auto p-2" style="width: 100%">
        <img src="https://res.cloudinary.com/doo82qk9r/image/upload/v1691318399/cornercouch_sahypn.jpg" class="d-block w-100" alt="..." >
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-center pt-3">Why Choose The Free Furniture Hub?</h1>
            <p class="text-center">
            <strong>Declutter with Purpose: </strong>
            <br>Let's face it; we all have furniture pieces that we've outgrown or no longer need. Instead of letting them gather dust in your attic or ending up in a landfill, turn to Free Furniture Ireland! By giving away your unwanted items, you create space in your life while spreading joy to someone else.
            </p>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


  
        <hr>
        <h1 class="text-center pt-4">How It Works:</h1>
        <hr>
        <h2 class="text-center">The Free Furniture Hub is as easy as assembling IKEA furniture! Here's how you can get started:</h2> 
        
        <p class="text-center"><strong>Snap and Share: </strong>Take some snazzy pictures of the furniture you want to give away, and add a brief description. Highlight its unique features and why it deserves a new, loving home.</p>
        
        <p class="text-center"><strong>Post and Connect: </strong>Upload your pictures and details on The Free Furniture Hub, and voilà! Your furniture is now visible to our community. Interested users can reach out to you via our messaging system, making the whole process a breeze.
        </p>
        <p class="text-center"><strong>Find Your Treasure: </strong>On the hunt for a new furniture piece? Browse through a wide array of available items posted by generous folks like yourself. When you find the perfect match, get in touch with the giver, and make arrangements for pickup.
        </p>
        <p class="text-center"><strong>Happy Giving: </strong>Witness the magic of giving as your furniture embarks on a new journey with its new owner. Feel the satisfaction of knowing you made a sustainable choice while bringing joy to someone's life.
        </p>
        <hr>
        <p class="text-center">
        So, whether you're looking to give away a comfy sofa, a charming coffee table, or a vintage dresser, Free Furniture Ireland is here to make it happen. Join our ever-growing community today and become part of a movement that's shaping a greener, more caring future. Together, let's furnish the world with compassion and sustainability!
        </p>
        <hr>
        <p class="text-center"><strong>Reduce. Reuse. Reimagine. Free Furniture Ireland - Empowering furniture philanthropy, one post at a time!</strong></p>
</div>
{% endblock %}