{% extends "base.html" %}
{% load static %}

{% block title %}How it works{% endblock %}
{%load static%}

{% block content %}

<div class="HIW_container container">
        <h1 class="text-center pt-4">How It Works</h1>
        <hr>
        <h2 class="text-center pb-3">The Free Furniture Hub is as easy as assembling IKEA furniture!
                <br>Here's how you can
                get started:</h2>

        <h4 class="text-center pt-3 purple-line"><strong>Snap and Share</strong></h4>
        <p class="text-center m-4">Take some snazzy pictures of the furniture you want to give away, and add a brief
                description.
                Highlight its unique features and why it deserves a new, loving home.</p>

        <h4 class="text-center pt-3 purple-line"><strong>Post and Connect</strong></h4>
        <p class="text-center m-4">
                Upload your pictures and details on The Free Furniture Hub, and voilà! Your furniture is now visible
                to our community. Interested users can reach out to you via our messaging system, making the whole
                process a breeze.
        </p>
        <h4 class="text-center pt-3 purple-line"><strong>Find Your Treasure</strong></h4>
        <p class="text-center m-4">
                On the hunt for a new furniture piece? Browse through a wide array of available items posted by
                generous folks like yourself. When you find the perfect match, get in touch with the giver, and make
                arrangements for pickup.
        </p>
        <h4 class="text-center pt-3 purple-line"><strong>Happy Giving</strong></h4>
        <p class="text-center m-4">
                Witness the magic of giving as your furniture embarks on a new journey with its new owner. Feel the
                satisfaction of knowing you made a sustainable choice while bringing joy to someone's life.
        </p>
        <hr>
        <p class="text-center p-3">
                So, whether you're looking to give away a comfy sofa, a charming coffee table, or a vintage dresser, The
                Free Furniture Hub is here to make it happen. Join our ever-growing community today and become part of a
                movement that's shaping a greener, more caring future. Together, let's furnish the world with compassion
                and sustainability!
        </p>
        <hr>
        <p class="text-center"><strong>Reduce. Reuse. Reimagine.
                        <br>The Free Furniture Hub - Empowering furniture philanthropy, one post at a time!</strong></p>
</div>

{% endblock %}