@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville&display=swap');

:root {
    /** Fonts */
    --title: 'Libre Baskerville', serif;
    --main-font: 'DM Sans', serif;

    /** Colours */
    --green: #4C7847;
    --off-white: #b5b9a6;
    --brown: #5D4F39;
    --blue: #768DC3;
    --grey: #847669;
    --white: #fff;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title)
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Header */

.navbar {
    background-color: var(--off-white) !important;
    box-shadow: var(--small-box-shadow) !important;

}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

.tffh_logo {
    font: var(--main-font);
    font-size: 1.8rem;
}

.nav-link {
    color: var(--brown);
    font-size: 1.2rem !important;
    letter-spacing: 2px;
    margin: 8px
}

img.logo {
    width: 8rem
}

.search {
    width: 200px
}

.nav-cont {
    display: flex;
    justify-content: end !important;

}

.nav-items-display {
    display: flex;
    flex-direction: column;
    justify-content: end !important;
}

.s-box {
    float: right
}

.active {
    text-shadow: 2px 2px 8px black
}

.logos {
    display: flex;
    flex-direction: row;
}

.logo-text {
    width: 150px;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 32px;
    
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 32px;
    margin: 1rem
}

/* Form */

.form {
    width:100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

/* Furniture */

.card {
    height: 90%;
    margin-top: 1rem;
}

.furniture {
    text-decoration: none !important;
    color: var(--grey)
}

.furniture:hover {
    cursor: pointer;
}

.furniture-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.furniture-container {
    display: flex;
    flex-direction: column;
}

.description .furniture-detail {
    width: 100%
}

.furniture-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.furniture-pic {
    width: 100%;
    height: auto
}

.furniture-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--border);
    box-shadow: var(--small-box-shadow);
}

a.img-container:hover {
    color: var(--orange)
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #36b3c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.carousel-item {
    width: 65%;
    height: 25em
}

.carousel-cont {
    display: block;
    width: 100%
}