@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville&display=swap');

:root {
    /** Fonts */
    --title: 'Libre Baskerville', serif;
    --main-font: 'DM Sans', serif;

    /** Colours */
    --green: #4C7847;
    --off-white: #b5b9a6;
    --brown: #5D4F39;
    --blue: #768DC3;
    --grey: #847669;
    --white: #fff;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title)
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Header */

.navbar {
    background-color: var(--off-white) !important;
    box-shadow: var(--small-box-shadow) !important;

}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

.tffh_logo {
    font: var(--main-font);
    font-size: 1.8rem;
}

.nav-link {
    color: var(--brown);
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 8px
}

img.logo {
    width: 8rem
}

.search {
    width: 200px
}

.nav-cont {
    display: flex;
    justify-content: end !important;

}

.nav-items-display {
    display: flex;
    flex-direction: column;
    justify-content: end !important;
}

.s-box {
    float: right
}

.active {
    text-shadow: 2px 2px 8px black
}

.logos {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.tffh_logo {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 32px;
    color: rgba(0,0,0,.55);
}

.user {
    font-size: 16px;
    padding-right: 1rem;
    color: rgba(0,0,0,.55)
}


/* Form */

.form {
    width:100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

/* Furniture */

.card {
    height: 90%;
    margin-top: 1rem;
}

.furniture {
    text-decoration: none !important;
    color: var(--grey)
}

.furniture:hover {
    cursor: pointer;
}

.furniture-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.furniture-container {
    display: flex;
    flex-direction: column;
}

.description .furniture-detail {
    width: 100%
}

.furniture-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.furniture-pic {
    width: 100%;
    height: auto
}

.furniture-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--border);
    box-shadow: var(--small-box-shadow);
}

a.img-container:hover {
    color: var(--orange)
}

.img-container img {
    width: 100%;
    height: auto;
}

.card-body {
    flex: 1 1 auto;
    padding: 0 1rem 1rem 1rem;
}

.card-text {
    margin-bottom: 0.2rem;
}

.centered {
    width: 100%;
    background-color: var(--blue);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.carousel-item {
    width: 65%;
    height: 25em
}

.carousel-cont {
    display: block;
    width: 65%;
    margin: 0 auto;
    height: 25em
}




.buttons {
    background-color: #768DC3;
    color: white;
}

.btn-outline-primary {
    color: white ;
    background-color: #768DC3;
    border-color: #768DC3 !important;
}

.btn-outline-primary:hover {
    color: black;
    background-color: #768DC3;
    border-color: #768DC3;
}

/* Footer */

footer {
    background-color: var(--off-white);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: rgba(0,0,0,.55);
    bottom: 0;
    font-size: 14px;
}

.social-networks {
    width:50%; 
    text-align: center;
}

.social-networks h3 {
    padding-top: 10px;
}

.social-networks ul {
    display: flex;
    justify-content: space-between;
}

.social-networks li {
    display: inline;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    text-decoration: none;

}

.social-networks li a {
    text-decoration: none;
    color: rgba(0,0,0,.55);
}

.disclaimer {
    width:90%; 
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: rgba(0,0,0,.55)
}

.mobile-display {
    display: none
} 


@media screen and (max-width: 1252px) {
.nav-link {
    font-size: 1em;
}

.logo {
    width: 80%;
    max-width: 300px;
    height: auto;

}

.tffh_logo {
    font-size: 24px;
}
}

@media screen and (max-width: 990px) {
    .desktop-display {
        display: none
    }
    
    .mobile-display {
        display: block;
        padding-top: 5px
    }

    .hide {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {


    .logo {
        max-width: 70px
    }

    .tffh_logo {
        font-size: 18px;
    }

    .user {
        display: none;
    }

}
