{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo -->
      <div class="logos">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="https://res.cloudinary.com/doo82qk9r/image/upload/v1690644356/ffh_logo_iikuvd.png"
            alt="Free Furniture Logo" class="logo">

        </a>
        <h1 class="tffh_logo">The
          <br><strong>Free Furniture</strong>
          <br>Hub
        </h1>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation Items -->
      <div class="collapse navbar-collapse nav-items-display" id="navbarNav">
        <div class="container-fluid me-auto nav-cont">
          <ul class="navbar-nav ">
            {% if request.user.is_authenticated and request.user.username == "Free4UAdmin" %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                href="https://free-furniture-hub-10db98e468e6.herokuapp.com/admin/">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'furniture_items' %}active{% endif %}"
                href="{% url 'furniture_items' %}">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'howitworks' %}active{% endif %}" href="{% url 'howitworks' %}">How
                it works</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'add_furniture' %}active{% endif %}"
                href="{% url 'add_furniture' %}">Create post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
                href="/accounts/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}"
                href="/accounts/signup/">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}"
                href="/accounts/login/">Login</a>
            </li>
            {% endif %}                  

          </ul>

        </div>

        <!-- Form for search box -->
        <div class="container-fluid me-auto nav-cont desktop-display">
          {% if user.is_authenticated %}
          <span class="user">
              <i class="far fa-user"></i> {{ user.username }}
          </span>
          {% endif %}
          <form class="d-flex s-box" role="search" method="GET" action="{% url 'furniture_items' %}">
            <input class="form-control search me-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>        

        </div>

      </div>

    </div>
  </nav>
  <!-- Alert messaging -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}

        <div class="alert {{ message.tags }} alert_dismissable fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data_bs_dismiss="alert" aria-label="Close">

          </button>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  {% endwith %}
</header>
<!-- Form for search box for mobile display-->
<div class="container-fluid me-auto nav-cont mobile-display desktop-display">
  <form class="d-flex s-box" role="search" method="GET" action="{% url 'furniture_items' %}">
    <input class="form-control search me-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>        
  {% if user.is_authenticated %}
  <span class="user">
      <i class="far fa-user"></i> {{ user.username }}
  </span>
  {% endif %}
</div>
<!-- Javascript for Alerts -->
<script>
  setTimeout(function () {
    let messages = document.getElementById("msg");
    let alert = new bootstrap.Alert(messages);
    alert.close();
  }, 3000);
</script>