{% extends "base.html" %}

{% block title %}Furniture{% endblock %}

{% block content %}
<h1 class="text-center p-2">
  Free Furniture looking for it's new home.
</h1>
<p class="text-center p-2">Search below or use the Search box above to help you find what you are looking for.</p>
<div class="container d-flex flex-row flex-wrap justify-content-center">

  {% for furniture in furniture_items %}
  <a href="{% url 'furniture_detail' furniture.id %}" class="furniture" aria-label="Click to view {{furniture.title}}">
    <div class="card m-3">
      <img class="card-img-top" src="{{furniture.image.url}}" alt="{{furniture.image_alt}}" style="height:75%">
      <div class="card-body">
        <h3 class="card-title">{{furniture.title.title}}</h3>
        <p class="card-text"><strong>Location: {{furniture.county.title}}</strong>
          <br>Posted on: {{furniture.posted_date}}</p>
        <p class="card-text">{{furniture.description|truncatechars:25}}</p>
      </div>
    </div>
  </a>
  {% endfor %}

</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn buttons mt-2 btn-outline-primary page-link-offers">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn buttons mt-2 btn-outline-primary page-link-offers"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
<p class="text-center"><strong>Reduce. Reuse. Reimagine.
    <br>The Free Furniture Hub - Empowering furniture philanthropy, one post at a time!</strong></p>
{% endblock %}