{% extends "base.html" %}
{% block title %}My Items{% endblock %}
{% block content %}

<h1 class="text-center p-2">
    Manage your furniture posts
</h1>
<p class="text-center p-2">Click on your furniture posts below to edit or delete them if they have been collected or no
    longer available.</p>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <!-- display each of the users furniture posts -->
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for furniture in my_items %}
        <a href="{% url 'furniture_detail' furniture.id %}" class="img-container">
            <img src="{{furniture.image.url}}" alt="{{furniture.image_alt}}">
            <div class="centered">
                <h2>{{furniture.title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<p class="text-center"><strong>Reduce. Reuse. Reimagine.
        <br>The Free Furniture Hub - Empowering furniture philanthropy, one post at a time!</strong></p>
{% endblock content %}